// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primaryDark  = #826725;
$primary      = #8925f4;
$colorPink    = #ed5d29;
$secondary    = #1a1a1a;
$bgDark       = #111111;
$colorBlue    = #1D3043;
$color-green   = #a2ce2d;
$colorRed     = #DA4A4C;
$colorGrey    = #8f99a3;
$colorPinkGrey = rgb(255, 153, 0);

$body-font-family = Quicksand, Arial, sans-serif ;
$color-text-black-dark = hsla(267, 24%, 7%, 1);
$color-text-black-dark2 = hsla(267, 24%, 9%, 1);
$color-text-black = hsla(270, 15%, 11%, 1);
$color-text-black-light = hsla(267, 14%, 15%, 1);
$color-text-black-lightest = hsla(200, 3%, 21%, 1);
$color-text-white = hsla(0, 0%, 90%, 1);
$color-text-white-light = hsla(0, 0%, 100%, 1);
$color-text-purple-dark = hsla(254, 58%, 22%, 1);
$color-text-purple = hsla(252, 48%, 27%, 1);
$color-text-purple-2 = #682974;
$color-text-purple-light = hsla(252, 48%, 37%, 1);
$color-text-pink = hsla(332, 666%, 55%, 1)
$color-text-pink-1 = #ff5252
$color-text-grey = hsla(0, 0%, 58%, 1);
$color-text-grey-light = hsla(0, 0%, 94%, 1);
$color-text-grey-dark = #95a5a6;
$color-text-yellow = hsla(55, 94%, 54%, 1)
$color-text-red = hsla(359, 66%, 57%, 1);

$color-black-dark = hsla(267, 24%, 7%, 1);
$color-black-dark2 = hsla(267, 24%, 9%, 1);
$color-black = hsla(270, 15%, 11%, 1);
$color-black-light = hsla(267, 14%, 15%, 1);
$color-black-light-2 = hsl(267, 7%, 32%);
$color-black-lightest = hsla(200, 3%, 21%, 1);
$color-black-white = rgba(0, 0, 0, 0.7);
$color-white = hsla(0, 0%, 90%, 1);
$color-white-light = hsla(0, 0%, 100%, 1);
$color-white-transparent = rgba(255, 255, 255, 0.1);
$color-white-transparent-2 = rgba(255, 255, 255, 0.8);
$color-white-grey = #F2F2F2;
$color-green-dark = #F33939;
$color-text-purple-dark = hsla(254, 58%, 22%, 1);

$color-purple-dark = hsla(252, 48%, 17%, 1);
$color-purple-dark-2 = hsla(252, 48%, 12%, 1);
$color-purple = hsla(252, 48%, 27%, 1);
$color-purple-2 = #682974;
$color-purple-light = hsla(252, 48%, 37%, 1);
$color-purple-grey = hsla(263, 14%, 41%, 1);
$color-pink = hsla(332, 666%, 55%, 1);
$color-pink-1 = #F91F71
$color-grey = hsla(0, 0%, 58%, 1);
$color-grey-light = hsla(0, 0%, 94%, 1);
$color-light-grey = #eeeeee;
$color-yellow = hsla(55, 94%, 54%, 1)
$color-green-light = hsla(100 100%, 40%, 1)
$color-green-light-2 = hsla(	120, 100%, 75%,1)
$color-red = hsla(359, 66%, 57%, 1);

$color-pink-gradient = linear-gradient(270deg, #682974 0%, #28185B 100%);
$color-purple-gradient = linear-gradient(135deg, #6497FF 0%, #986CE4 100%);

$color-gradient-1 = @block {
  background: rgba(34,23,55,1);
  background: -moz-linear-gradient(left, rgba(34,23,55,1) 0%, rgba(75,50,178,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,23,55,1)), color-stop(100%, rgba(75,50,178,1)));
  background: -webkit-linear-gradient(left, rgba(34,23,55,1) 0%, rgba(75,50,178,1) 100%);
  background: -o-linear-gradient(left, rgba(34,23,55,1) 0%, rgba(75,50,178,1) 100%);
  background: -ms-linear-gradient(left, rgba(34,23,55,1) 0%, rgba(75,50,178,1) 100%);
  background: linear-gradient(to right, rgba(34,23,55,1) 0%, rgba(75,50,178,1) 100%);
}

$color-gradient-purple = @block {
  background -moz-linear-gradient(left, hsla(hsla(290, 47%, 30%, 1)) 0%, hsla(254, 58%, 22%, 1) 50%, hsla(hsla(290, 47%, 30%, 1)) 100%) var(--x, 0)/ 200%;
  background -webkit-gradient(left top, right top, color-stop(0%, hsla(hsla(290, 47%, 30%, 1))), color-stop(50%, hsla(254, 58%, 22%, 1)), color-stop(100%, hsla(hsla(290, 47%, 30%, 1)))) var(--x, 0)/ 200%;
  background -webkit-linear-gradient(left, hsla(hsla(290, 47%, 30%, 1)) 0%, hsla(254, 58%, 22%, 1) 50%, hsla(hsla(290, 47%, 30%, 1)) 100%) var(--x, 0)/ 200%;
  background -o-linear-gradient(left, hsla(hsla(290, 47%, 30%, 1)) 0%, hsla(254, 58%, 22%, 1) 50%, hsla(hsla(290, 47%, 30%, 1)) 100%) var(--x, 0)/ 200%;
  background -ms-linear-gradient(left, hsla(hsla(290, 47%, 30%, 1)) 0%, hsla(254, 58%, 22%, 1) 50%, hsla(hsla(290, 47%, 30%, 1)) 100%) var(--x, 0)/ 200%;
  background linear-gradient(to right, hsla(hsla(290, 47%, 30%, 1)) 0%, hsla(254, 58%, 22%, 1) 50%, hsla(hsla(290, 47%, 30%, 1)) 100%) var(--x, 0)/ 200%;
}

$color-facebook = #3a5999
$color-youtube = red
$color-twitter = #00b6f1
$color-pinterest = #cd202a
$color-google-plus = #e14b33
$color-email = #414141
$color-line = #42c609
$color-live = #8B25F4
$color-download = #373040
$color-snapchat = hsla(59, 100%, 50%, 1)
$color-instagram = radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%)

$color-purple-o(o)
  hsla(252, 48%, 27%, o);
$color-purple-dark-o(o)
  hsla(252, 48%, 17%, o)
$color-purple-light-o(o)
  hsla(252, 48%, 37%, o)
$color-pink-o(o)
  hsla(332, 666%, 55%, o);
$color-black-o(o)
  hsla(270, 15%, 11%, o);
$color-black-opacity-o(o)
  hsla(270, 15%, 11%, o)
$color-white-opacity-o(o)
  hsla(0, 0%, 90%, o)
$color-purple-light-o(o)
  hsla(252, 48%, 37%, o);